.container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Quarter-width for chart */
    gap: 20px; /* Add some spacing between chart and other content */
  }
  
  .chart-container {
    display: grid;
  }